<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilos_productos_flexsole.css">
    <link rel="stylesheet" href="/css/bootstrap.css.css">
    <title>SIGN UP</title>
</head>
<body>
    <header>
        <h1>FLEX SOLE'S</h1>
    </header>
    <nav th:replace="navbar"></nav>

    <div id="contenedor">
    <form th:action="@{/usuario/signup}" method="POST">
        <div>
            <p>Nombre: <input type="text" name="nombre"></p>
            <br>
            <p>Apellidos: <input type="text" name="apellidos"></p>
            <br>
            <p>Email: <input type="text" name="email"></p>
            <br>
            <p>Contraseña: <input type="text" name="passwd"></p>
            <br>
            <p>Fecha de Nacimiento: <input type="date" name="fechaNacimiento"></p>
        </div>
        <input type="submit" value="registrarse">
    </form>
</body>
</html>