<html xmlns:th="http://www.thymeleaf.org">
<html lang="es"></html>
<head>
	<div th:replace="head_elements"></div>
	<title>USUARIO</title>
</head>
<body>
<div class="container-fluid">
	<!-- HEADER APERTURA-->
	<div th:replace="header"></div>
	<!-- HEADER CIERRE-->
	<!-- NAVAR APERTURA-->
	<nav th:replace="navbar"></nav>
	<!-- NAVAR CIERRE-->

	<div id="contenedor">
		<article id="{id}" th:each="usuario: ${usuario}">
			<h3>Nombre:</h3>
				<p th:text=${usuario.nombre}></p>
			<h3>Apellidos:</h3>
				<p th:text=${usuario.apellidos}></p>
			<h3>Email:</h3>
				<p th:text=${usuario.email}></p>
			<h3>Dia de Nacimiento:</h3>
				<p th:text=${usuario.fechaNacimiento}></p>
			<div class="card-body">
				<a th:href="@{/compra/miscompras{id}(id=${''+usuario.id})}" class="btn btn-info" role="button">Ver compras</a>
			</div>
		</article>
	</div>
</div>
</body>
</html>