<html>

<head>
	<nav th:replace="head_elements"></nav>
	<title>FLEX SOLE'S CESTA</title>
</head>

<body>
	<div class="container-fluid">
		<!-- HEADER APERTURA-->
		<div th:replace="header"></div>
		<!-- HEADER APERTURA-->
		<nav th:replace="navbar"></nav>
		<h1 style="text-align: center; margin-top: 2%;">Carrito de la compra</h1>
		<form th:action="@{/compra/realizarCompra}" method="POST">
			<article id="${session.id}" name="${session.nombre}" th:each="compras: ${ListaCompras}">
				ID Producto <h2 th:text="${compras.idProducto}"></h2>
				Nombre<h3 th:text="${compras.nombreProducto}"></h3>
				Cantidad<h3 th:text="${compras.cantidad}"></h3>
			</article>
			<div th:if="${session.usuario == null}">
				<a th:href="@{/usuario/login}" class="card-link">Inicia sesion para comprar</a>
			</div>
			<div th:if="${ListaCompras != null}">
				<input type="submit" value="Comprar" />
			</div>
		</form>
		<div>
</body>

</html>