<html>

<head>
<nav th:replace="head_elements"></nav>
<title>FLEX SOLE'S COMPRAS</title>
</head>

<body>
	<div class="container-fluid">
		<!-- HEADER APERTURA-->
		<div th:replace="header"></div>
		<!-- HEADER APERTURA-->
		<nav th:replace="navbar"></nav>
		<h1 style="text-align: center; margin-top: 2%;">Mis compras</h1>
		<div id="${idUsuario}" th:each="usuario: ${ListaUsuarios}">
			<input type="hidden" id="idUsuario" name="idUsuario"
				th:value="${session.usuario.id}">
		</div>

	</div>

	<div id="accordion" th:each="compra : ${listaComprasRealizadas}">
		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<button class="btn btn-link" data-toggle="collapse"
						data-target="#collapseOne" aria-expanded="true"
						aria-controls="collapseOne">
						<span style="color: white" th:text="'Compra '+${compra.id_compra}">
							
						</span>
				</h5>
			</div>

			<div id="collapseOne" class="collapse show"
				aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body" th:each="comprasProd : ${compra.compras}">
					<span th:text="${comprasProd.producto.titulo}"></span> 
					</br> 
					<span th:text="${comprasProd.unidades}"></span>
					</br> 
					<a th:href="@{/compra/devolverCompra{id}(id=${compra.id_compra})}" class="btn btn-info" role="button">Devolver compra</a>	
				</div>
			</div>
		</div>
	</div>




</body>

</html>