<html>

<head>
	<nav th:replace="head_elements"></nav>
	<title>FLEX SOLE'S COMPRAS</title>
</head>

<body>
	<div class="container-fluid">
		<!-- HEADER APERTURA-->
		<div th:replace="header"></div>
		<!-- HEADER APERTURA-->
		<nav th:replace="navbar"></nav>
		<h1 style="text-align: center; margin-top: 2%;">Mis compras</h1>
		<div id="${idUsuario}" th:each="usuario: ${ListaUsuarios}">
			<input type="hidden" id="idUsuario" name="idUsuario" th:value="${session.usuario.id}">
		</div>
		<article id="${id}" name="${session.nombre}" th:each="compras: ${listaComprasRealizadas}">
			<input type="hidden" id="id" name="id" th:value="${compras.idUsuario}">
			<table>
				<thead>
					<tr>
						<th> ID </th>
						<th> ID USUARIO </th>
						<th> ID PRODUCTO </th>
						<th> CANTIDAD </th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${listaComprasRealizadas.empty}">
						<td colspan="2"> No hay compras realizadas </td>
					</tr>
					<tr>
						<td><span th:text="${compras.idCompra}"> idUsuario </span></td>
						<td><span th:text="${compras.idUsuario}"> idUsuario </span></td>
						<td><span th:text="${compras.idProducto}"> idProducto </span></td>
						<td><span th:text="${compras.cantidad}">unidades</span></td>
						<td><a th:href="@{/compra/devolverCompra{id}(id=${compras.idCompra})}"><button>Devolver
									compra</button></a></td>
					</tr>
				</tbody>
			</table>
		</article>
	</div>
</body>

</html>