<html xmlns:th="http://www.thymeleaf.org">
<html lang="es">

<head>
	<nav th:replace="head_elements"></nav>
	<title>FLEX SOLE'S</title>
</head>

<body>
<div class="container-fluid">
	<!-- HEADER APERTURA-->
	<div th:replace="header"></div>
	<!-- HEADER APERTURA-->
	
	<!-- NAVAR APERTURA-->
	<nav th:replace="navbar"></nav>
	<!-- NAVAR CIERRE-->

	<!-- CONTENEDOR PRODUCTOS APERTURA-->
	<div id="contenedor">
		<div class="card mb-3" id="{id}" th:each="producto: ${ListaProductos}">
			<div class="cajas">
				<h3 class="card-header" th:text="${producto.titulo}"></h3>
				<div class="card-body"></div>
				<div class="imagen">
					<img th:src="@{/img/nike_dunk_first_article.jpg}" alt="imagen1">
				</div>
				<div class="card-body">
					<h2 class="card-text" th:text="${producto.precio}+'€'"></h2>
					<h2 class="card-text" th:text="${producto.descuento}+'%'"></h2>
				</div>
				<div class="card-body">
					<a th:href="@{/producto/{id}(id=${'producto'+producto.id})}" class="card-link">Visitar</a>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- CONTENEDOR PRODUCTOS CIERRE-->
</body>

</html>