
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="display: flex; flex-flow: column wrap">
  <div class="container-fluid">
  		<div th:if="${session.usuario != null}" th:href="@{/usuario/user{id}(id=${session.usuario.id})}">
		  <a class="navbar-brand">
		    		<div th:if="${session.usuario != null}" th:href="@{/usuario/user{id}(id=${session.usuario.id})}">
		    		</div>
		  <a class="navbar-brand" th:href="@{/usuario/user{id}(id=${session.usuario.id})}" >	
		    	<img style="width:50px; height:50px; margin-left: 50px" th:src="@{/img/icon_user.jpg}" alt="user_icon">
		    	<h6 style="display:flex; flex-flow:column wrap; color:white" th:text="${session.usuario.nombre}+' '+${session.usuario.apellidos}"></h6>
		  </a>
  		</div>
  		<div th:if="${session.usuario == null}">
		  <a class="navbar-brand">
		    	<img style="width:50px; height:50px; margin-left: 50px" th:src="@{/img/icon_user.jpg}" alt="user_icon">
		    	<h6 style="display:flex; flex-flow:column wrap; color:white"></h6>
		  </a>
  		</div>
	  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	  </button>
    <div style="display: flex; margin-left:280px"class="navbar-brand" id="navbarColor01" >
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" th:href="@{/index}">Home</a>
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item" th:if="${session.usuario != null}">
          <a class="nav-link" th:if="${session.usuario.rol}=='ADMIN'"  th:href="@{/producto/crear}">Insertar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/usuario/signup}">SIGNUP</a>
        </li>
        <li class="nav-item" th:if="${session.usuario == null}">
          <a class="nav-link" th:href="@{/usuario/login}">LOGIN</a>
        </li>
        <li class="nav-item" th:if="${session.usuario != null}">
          <a class="nav-link" th:href="@{/usuario/logout}">LOG OUT</a>
        </li>
      </ul>
    </div>
     <form class="d-flex" th:object="${titulo}" th:action="@{/producto/buscar}" method="GET">
        <input type="text" class="class="form-control me-sm-2" "id="{titulo}" th:value="${titulo}" name="busqueda">
    	<input type="submit" class="btn btn-secondary my-2 my-sm-0" value="Buscar">
     </form>
     <div>
		  <a class="navbar-brand"  th:href="@{/compra/cesta}">
		    	<img style="width:50px; height:50px; margin-right: 0px;" th:src="@{/img/carrito.png}" alt="carrito_icon">
		    	<!--<h6 style="display:flex; flex-flow:column wrap; color:white" th:text="${session.usuario.nombre}+' '+${session.usuario.apellidos}"></h6>-->
		  </a>
  	</div>
  </div>
</nav>
    
